<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shop.dao.ChuKuMapper">
  <resultMap id="BaseResultMap" type="org.shop.pojo.ChuKu">
    <id column="chuku_id" jdbcType="INTEGER" property="chukuId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_fenlei" jdbcType="VARCHAR" property="shopFenlei" />
    <result column="chuku_shuliang" jdbcType="INTEGER" property="chukuShuliang" />
    <result column="chuku_date" jdbcType="VARCHAR" property="chukuDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    chuku_id, shop_name, shop_fenlei, chuku_shuliang, chuku_date
  </sql>
  <select id="selectOne" parameterType="org.shop.pojo.ChuKu" resultMap="BaseResultMap">
      select * from chuku
      <where>
           <if test="shopName!=null and shopName!=''">and shop_name like "%"#{shopName}"%"</if>
           <if test="shopFenlei!=null and shopFenlei!=''">and shop_fenlei like "%"#{shopFenlei}"%"</if>
           <if test="chukuDate!=null and chukuDate!=''">and chuku_date like "%"#{chukuDate}"%"</if>
      </where>
  </select>
  <select id="selectByExample" parameterType="org.shop.pojo.ChuKuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chuku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chuku
    where chuku_id = #{chukuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chuku
    where chuku_id = #{chukuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.shop.pojo.ChuKuExample">
    delete from chuku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.shop.pojo.ChuKu">
    insert into chuku (chuku_id, shop_name, shop_fenlei, 
      chuku_shuliang, chuku_date)
    values (#{chukuId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopFenlei,jdbcType=VARCHAR}, 
      #{chukuShuliang,jdbcType=INTEGER}, #{chukuDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.shop.pojo.ChuKu">
    insert into chuku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chukuId != null">
        chuku_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopFenlei != null">
        shop_fenlei,
      </if>
      <if test="chukuShuliang != null">
        chuku_shuliang,
      </if>
      <if test="chukuDate != null">
        chuku_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chukuId != null">
        #{chukuId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopFenlei != null">
        #{shopFenlei,jdbcType=VARCHAR},
      </if>
      <if test="chukuShuliang != null">
        #{chukuShuliang,jdbcType=INTEGER},
      </if>
      <if test="chukuDate != null">
        #{chukuDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.shop.pojo.ChuKuExample" resultType="java.lang.Long">
    select count(*) from chuku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chuku
    <set>
      <if test="record.chukuId != null">
        chuku_id = #{record.chukuId,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopFenlei != null">
        shop_fenlei = #{record.shopFenlei,jdbcType=VARCHAR},
      </if>
      <if test="record.chukuShuliang != null">
        chuku_shuliang = #{record.chukuShuliang,jdbcType=INTEGER},
      </if>
      <if test="record.chukuDate != null">
        chuku_date = #{record.chukuDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chuku
    set chuku_id = #{record.chukuId,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_fenlei = #{record.shopFenlei,jdbcType=VARCHAR},
      chuku_shuliang = #{record.chukuShuliang,jdbcType=INTEGER},
      chuku_date = #{record.chukuDate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.shop.pojo.ChuKu">
    update chuku
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopFenlei != null">
        shop_fenlei = #{shopFenlei,jdbcType=VARCHAR},
      </if>
      <if test="chukuShuliang != null">
        chuku_shuliang = #{chukuShuliang,jdbcType=INTEGER},
      </if>
      <if test="chukuDate != null">
        chuku_date = #{chukuDate,jdbcType=VARCHAR},
      </if>
    </set>
    where chuku_id = #{chukuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.shop.pojo.ChuKu">
    update chuku
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_fenlei = #{shopFenlei,jdbcType=VARCHAR},
      chuku_shuliang = #{chukuShuliang,jdbcType=INTEGER},
      chuku_date = #{chukuDate,jdbcType=VARCHAR}
    where chuku_id = #{chukuId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByIdKey" parameterType="org.shop.pojo.ChuKu" resultType="java.lang.Integer">
        select count(*) from chuku
        <where>
           <if test="chukuId!=null and chukuId!=''">and chuku_id = #{chukuId}</if>
        </where>
  </select>
  
</mapper>