<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shop.dao.KuCunMapper">
  <resultMap id="BaseResultMap" type="org.shop.pojo.KuCun">
    <id column="kucun_id" jdbcType="INTEGER" property="kucunId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_fenlei" jdbcType="VARCHAR" property="shopFenlei" />
    <result column="shop_shuliang" jdbcType="INTEGER" property="shopShuliang" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    kucun_id, shop_name, shop_fenlei, shop_shuliang
  </sql>
  <select id="selectByExample" parameterType="org.shop.pojo.KuCunExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kucun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kucun
    where kucun_id = #{kucunId,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="org.shop.pojo.KuCun" resultMap="BaseResultMap">
       select * from kucun
       <where>
            <if test="kucunId!=null and kucunId!=''">and kucun_id = #{kucunId}</if>
            <if test="shopName!=null and shopName!=''">and shop_name like "%"#{shopName}"%"</if>
            <if test="shopFenlei!=null and shopFenlei!=''">and shop_fenlei like "%"#{shopFenlei}"%"</if>
            <if test="shopShuliang!=null and shopShuliang!=''">and shop_shuliang like "%"#{shopShuliang}"%"</if>
       </where>
  </select>
   <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
       select * from kucun where shop_name = #{shopName}
  </select>
  <select id="selectAllNames" resultType="java.lang.String">
      select shop_name from kucun
  </select>
  <select id="selectFenlei"  parameterType="java.lang.String" resultType="java.lang.String">
      select shop_fenlei from kucun where shop_name = #{shopName}
  </select>
  <select id="selectShuliang" parameterType="java.lang.String" resultType="java.lang.Integer">
      select shop_shuliang from kucun where shop_name = #{shopName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kucun
    where kucun_id = #{kucunId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.shop.pojo.KuCunExample">
    delete from kucun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.shop.pojo.KuCun">
    insert into kucun (kucun_id, shop_name, shop_fenlei, 
      shop_shuliang)
    values (#{kucunId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopFenlei,jdbcType=VARCHAR}, 
      #{shopShuliang,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.shop.pojo.KuCun">
    insert into kucun
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kucunId != null">
        kucun_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopFenlei != null">
        shop_fenlei,
      </if>
      <if test="shopShuliang != null">
        shop_shuliang,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kucunId != null">
        #{kucunId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopFenlei != null">
        #{shopFenlei,jdbcType=VARCHAR},
      </if>
      <if test="shopShuliang != null">
        #{shopShuliang,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.shop.pojo.KuCunExample" resultType="java.lang.Long">
    select count(*) from kucun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kucun
    <set>
      <if test="record.kucunId != null">
        kucun_id = #{record.kucunId,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopFenlei != null">
        shop_fenlei = #{record.shopFenlei,jdbcType=VARCHAR},
      </if>
      <if test="record.shopShuliang != null">
        shop_shuliang = #{record.shopShuliang,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kucun
    set kucun_id = #{record.kucunId,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_fenlei = #{record.shopFenlei,jdbcType=VARCHAR},
      shop_shuliang = #{record.shopShuliang,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.shop.pojo.KuCun">
    update kucun
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopFenlei != null">
        shop_fenlei = #{shopFenlei,jdbcType=VARCHAR},
      </if>
      <if test="shopShuliang != null">
        shop_shuliang = #{shopShuliang,jdbcType=INTEGER},
      </if>
    </set>
    where kucun_id = #{kucunId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.shop.pojo.KuCun">
    update kucun
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_fenlei = #{shopFenlei,jdbcType=VARCHAR},
      shop_shuliang = #{shopShuliang,jdbcType=INTEGER}
    where kucun_id = #{kucunId,jdbcType=INTEGER}
  </update>
  <update id="updateShuliang" parameterType="org.shop.pojo.KuCun">
      update kucun set shop_shuliang = #{shopShuliang,jdbcType=INTEGER}
      where shop_name = #{shopName,jdbcType=VARCHAR} 
  </update>
  
   <select id="selectByKey" parameterType="org.shop.pojo.KuCun" resultType="java.lang.Integer">
        select count(*) from kucun 
        <where>
             <if test="kucunId!=null and kucunId!=''">and kucun_id = #{kucunId}</if>
            
        </where>
  </select>
  <select id="selectByNameKey" parameterType="org.shop.pojo.KuCun" resultType="java.lang.Integer">
        select count(*) from kucun 
        <where>
             <if test="shopName!=null and shopName!=''">and shop_name = #{shopName}</if>
        </where>
  </select>
</mapper>